[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "hugo/themes/ananke"]
	path = hugo/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
